@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* CSS RESET */
html,body,div,span,h1,h2,h3,h4,h5,h6,img,dl,dt,dd,ul,ol,li,p {margin: 0; padding: 0; border: 0; list-style: none; vertical-align: baseline; line-height: 1; font: inherit; font-size: 100%; font-weight: normal;}
article,header,section {display: block;}
ul {padding: 0; list-style: none;}
a {text-decoration: none; color: #fff}
p {position: absolute; font-family: 'Do Hyeon', sans-serif; font-size: .9vw; color: #000; transition: .3s; opacity: 0;}
p.appear {opacity: .5;}
body {width: 100% !important; height: 100vh; font-family: 'Lato', sans-serif; font-size: 32px; color: black;}
main {position: fixed; right: 0; width: 55%; height: 100%;}
.clear::after {display: block; content: ''; clear: both;}

/* HEADER */
header {z-index: 2; position: absolute; width: 100%; height: 150px;}
header .header-container {display: flex; flex-direction: row-reverse; height: 100%; padding: 60px 55px; box-sizing: border-box; }
.menu {position: fixed; width: 27px; height: 23px;}
.menu span {position: absolute; left: 0; width: 100%; height: 5px; background-color: white; border-radius: 3px; transition: .3s;}
.menu span:nth-of-type(1) {top: 0;}
.menu span:nth-of-type(2) {top: 9px;}
.menu span:nth-of-type(3) {bottom: 0;}
.menu.menu-hover:hover span:nth-of-type(1) {top: 2px;}
.menu.menu-hover:hover span:nth-of-type(3) {bottom: 2px;}

.menu.active span:nth-of-type(1) {
    -webkit-transform : translateY(9px) rotate(-45deg);
    transform : translateY(9px) rotate(-45deg);
}
.menu.active span:nth-of-type(2) {
    left : 60%;
    opacity : 0;
}

.menu.active span:nth-of-type(3) {
    -webkit-transform : translateY(-9px) rotate(45deg);
    transform : translateY(-9px) rotate(45deg);
}

/* BACKLEFT */
#backLeft-wrap {position: absolute; z-index: -1; height: 100%;}
#backLeft-wrap .backLeft-main {width: 100%; height: 100%; object-fit: cover;}
#backLeft-wrap img {display: block; width: 50%;}
#backLeft-wrap .career-img {margin-top: -7px;}

/*BACKRIGHT */
#backRight-wrap {position: absolute; top: 0; right: 0; width: 55%; height: 100%;}
#backRight-wrap .backRight {position: fixed; right: 0; width: 55%; height: 100%; transform: skewX(-4deg); transform-origin: bottom right; background-color: #B8A310; box-shadow: rgb(17 17 17) 5px 5px 15px 2px;}
.backRight-next {display: block; position: absolute; bottom: 0; width: 100%; height: 0;}
.menu-backRight {position: absolute; right: -50%; top: 0; width: 25%; height: 100%; background-color: #444; transition: .5s;}
.menu-backRight::before {content: ''; position: absolute; left: -13%; width: 13%; height: 100%; background-color: #444; transform-origin: bottom right; transform: skewX(-3deg);}
.menu-backRight .mouse-active {cursor: pointer;}
.backRight-main {background-color: #B8A310;}
.backRight-career {background-color: #15cb98;}
.backRight-sdc {background-color: #727584;}
.backRight-charger {background-color: #E3A062;}

.scroll {position: fixed; bottom: 0; width: 100%; text-align: center;}
.scroll .text {display: block; margin-bottom: 10px; text-transform: uppercase; font-weight: 700; letter-spacing: 1.5px; font-size: 1.25vw; color: #fff}
.scroll .scroll-mark {display: block; width: 2px; height: 40px; background: #fff; margin: 0 auto;}

.contact {z-index: 1; position: fixed; width: 55%; right: 0; text-align: center; bottom: -100px; background-color: #242000; padding: 13px 0; transition: .5s; border-radius: 70px 70px 0 0;}
.contact.contact-appear {transform: translateY(-100px);}
.contact dl {display: inline-block; width: 23%;}
.contact dt, .contact dd {text-align: center; color: #fff;}
.contact dd {font-size: 1vw; padding-top: 7px;}

.menu-back {display: block; position: fixed; top: 0; width: 100%; height: 100%; background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),url(images/menu-open-background.jpg) no-repeat center/cover; opacity: 0; transition: .5s; z-index: 1; pointer-events: none;}
.menu-back .profile {position: absolute; top: 20%; width: 75%;}
.menu-back .profile .text {font-size: 12px; text-indent: -40%;}
.menu-back .profile dt {color: #FE552F; margin-bottom: 13px;}
.menu-open .profile dt {animation: active_profile 1s forwards;}
.menu-back .profile dt i {font-size: 18px; padding-right: 5px;}
.menu-back .profile dd {color: #fff; font-size: 18px; margin-bottom: 13px;}
.menu-open .profile dd {animation: active_profile 1s .1s forwards;}
.menu-back .profile .divider {margin: 0 0 18px 0;}
.menu-back ul {text-align: right; padding: 30vh 54px 0 0; font-size: 7vh;}
.menu-back li {font-family: 'Markazi Text', serif; font-weight: bold;}
.menu-back li a {color: #fff; transition: .2s;}
.menu-back li a:hover {color: #FF6B17}
.divider span {display: inline-block; width: 24px; height: 2px; background-color: #fff;}
.menu-open {opacity: 1; pointer-events: visible;}
.menu-open-backRight {right: 0; transition: .7s ease-out .1s;}

.mainPage {position: absolute; width: 100%; height: 100%; right: 0;} 
.mainSide {position: relative; top: 50%; height: 100%; transform: translateY(-50%);}
.mainSide .square {position: absolute; left: 0; right: 0; top: 55%; width: 68%; height: 60%; margin: 0 auto;border: 1px solid #242000; transform: translateY(-50%);}
.mainSide .square .category {position: absolute; font-size: 16px; top: -30px; right: 0; transition: .5s;}
.mainSide .square .category span {font-weight: 900; text-transform: uppercase; color: #242000;}
.mainSide .square .category-appear {animation: category-appear .5s forwards;}
.mainSide .square .category span:not(.category-appear) {display: none;}
.mainSide .square .text {position: absolute; top: 50%; transform: translateY(-50%); width: 100%; z-index: -1; text-align: center;}
.mainSide .square .text-sdc {margin: 0 10%;}
.mainSide .square .text-appear {animation: text-appear .5s forwards;}
.mainSide .square .text h1:not(.text-appear) {display: none;}
.mainSide .square .addition {position: absolute; left: 2%; top: 85%; width: 15.1vw; height: 36px;}
.mainSide .square .addition-charger {bottom: 21%;}
.mainSide h1 {position: relative; font-size: 4.5vw; font-weight: 900; color: white;}
.mainSide .square .btn-view {position: absolute; top: 85%; right: 3%; width: 180px; height: 40px; border-radius: 25px; transition: .5s;}
.mainSide .square .btn-view .view {position: absolute; display: inline-block; width: 180px; font-size: 15px; line-height: 40px; color: #fff; border-radius: 25px; transition: .5 ease-in; overflow: hidden; text-indent: 70px; cursor: pointer;}
.mainSide .square .btn-view .view::before {content: ''; position: absolute; left: -100%; right: 100%; top: 0; bottom: 0; border-radius: 25px; transition: 0.35s; z-index: -1;}
.mainSide .square .btn-view .view:hover::before {left: 0; right: 0;}
.mainSide .square .btn-view .view.active::before {left: 0; right: 0;}
.mainSide .square .btn-view .view.active .fa-angle-right {width: 70px;}
.mainSide .square .btn-view .view-appear {animation: view-appear .5s forwards;}
.mainSide .square .btn-view .view:not(.view-appear) {display: none;}
.mainSide .square dl {color: #fff;} 
.mainSide .square dt {display: inline-block; padding-right: .5vw;}
.mainSide .square dd {display: inline-block; text-align: left; height: 60px; padding-right: 1vw;}
.mainSide .square .btn-view .view .fa-angle-right {font-size: 35px; width: 45px; height: 40px; border-radius: 25px; text-align: center; position: absolute; left: 0; transition: 0.35s; line-height: inherit; text-indent: 0;}
.mainSide .square .btn-view .view:hover .fa-angle-right {width: 70px}
.mainSide .square .view-career {background: #008862;}
.mainSide .square .view-career::before {background: #002118;}
.mainSide .square .view-career .fa-angle-right {background-color: #002118;}
.mainSide .square .view-sdc {background: #3D4155;}
.mainSide .square .view-sdc::before {background: #121023;}
.mainSide .square .view-sdc .fa-angle-right {background-color: #121023;}
.mainSide .square .view-charger {background: #9E5B1C;}
.mainSide .square .view-charger::before {background: #4E2600;}
.mainSide .square .view-charger .fa-angle-right {background-color: #4E2600;}

  @media (max-width: 1024px){
    header {position: fixed; width: 55px; height: 44px; margin: 0 auto; background-color: #242000;}
    header .header-container {flex-direction: column; width: 100%; padding: 10px 13px;}
    .menu.active:hover span {background-color: #5A5959;}
    main {top: 0; width: 100%; height: 150px;}
    #backLeft-wrap img {width: 100%;}
    .backLeftWork {position: absolute; left: 100%; width: 100%; height: 100%;}
    .backLeftWork .wrapper {position: relative; width: 100%; height: 100%; top: 150px; left: 0; margin: 0;}
    .backLeftWork .container {margin: 0; overflow: hidden;}
    #backRight-wrap {left: 0; width: 100%; height: 150px;}
    #backRight-wrap .backRight {transform: none; right: auto; width: 100%; height: 150px;}
    .menu-backRight {width: 30%;}
    .menu-backRight::before {left: -23%; width: 23%;}
    .mainSide .square-profile {display: none;}
    .mainSide .square {top: 0; width: 100%; height: 100%; border: none; transform: none;}
    .mainSide .square .category {top: auto; right: 0; padding: 10px 15px 0 0;}
    .mainSide .square-sdc h1 {padding: 0;}
    .mainSide .square dt {width: auto;}
    .mainSide .square dd {width: auto; height: auto;}
    .mainSide .square dd a {color: #fff;} 
    .mainSide .square .btn-view {top: 65%; left: auto; right: 15px;}
    .contact {width: 100%;}
    .mainSide .square .addition {top: 70%; width: 38.3vw;}
  }

  @media (max-width: 835px){
    .mainSide .square .btn-view {top: 70%; right: -5px; transform: scale(0.8);}
    .mainSide .square .category {font-size: 1.5vw;}
    p {font-size: 10px;}
  }


  @media (max-width: 596px){
    .menu-backRight {width: 35%;}
    .menu-backRight::before {left: -25%; width: 25%;}
    .mainSide .square-profile {display: none;}
  }

  
/* animation */
@keyframes active_profile {
    100% {
        text-indent: 20%;
    }
}

@keyframes text-appear {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes category-appear {
    0% {
        opacity: 0;
        margin-right: 30px;
    }
    100% {
        opacity: 1;
        margin: 0;
    }
}

@keyframes view-appear {
    0% {
        opacity: 0;
        left: 59%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}